<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<body>

  <div class="main-jumbo">
    <div class="row">
      <div class="diamond"></div>
    </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="wrapper">
        <h1>CODY CONDON</h1>
        <h5>Full Stack Developer</h5>
      </div>
    </div>
  </div>
</div>

<!-- <div class="triangle3"></div> -->
<div class="triangle"></div>
<div class="triangle2"></div>




<div class="supporting">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profilephoto">
            <img id="photoofme"src="photome.jpg" alt="">
        </div>
      </div>
      <div class="col-md-9">
          <div class="aboutmewrapper">
            <h1>Hey, I'm Cody, a 22 year old Developer from Toronto.</h1>
            <br>
            <p>I am here to create that stunning user experience for clients.
              Have over 2 years of programming experience with solid knowledge
              in Swift 3.0 and xcode. Skills also include Javascript, HTML/CSS ,
               and Ruby on Rails

               Coming from a strong background of marketing, design and music. I've worked
               with various major record labels, teaming with their artists. Whom I met with
               and wrote for accordingly depending on the individuals image and perspective on
                music</p>
          </div>
      </div>

    </div>
  </div>
</div>



<div class="triangle3"></div>
<div class="triangle4"></div>

<div class="container">
  <div class="experience">
    <div class="row">
      <div class="col-md-6 work">
        <div class="panel panel-default charcoal">
          <div class="panel-body">
            <h3>WORK EXPERIENCE</h3>
            <br>
            <h5>Freelance Developer</h5>

              <p>Creating apps in IOS10 and Swift. Also working online to creating websites built with Ruby On Rails.</p>
              <hr style="opacity:0.4;">
              <br>
              <h5>Match Marketing Group</h5>
              <br>
              <h6>Wireless Representative</h6>

              <p>Intercepting and creating rapport with existing retail customers showcasing wireless devices all for the top 6 Canadian wireless carriers.</p>


          </div>
        </div>
      </div>

      <div class="col-md-6 education">
        <div class="panel panel-default charcoal">
          <div class="panel-body">
            <h3>EDUCATION</h3>
            <br>
            <h5>  Bitmaker</h5>
            <br>
            <h6>January 2016</h6>
            <br>
            <p>9 week full-immersive web development bootcamp. Focusing in creating full stack developers. Focusing on Ruby on Rails.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="workingskills">
    <div class="row">


      <h1>SKILLS</h1>
    </div>
    <br>
    <br>
    <div class="row neon">
      <div class="col-md-4"><p id="one">HTML/CSS</p></div>
      <div class="col-md-4"><p id="two">JAVASCRIPT</p></div>
      <div class="col-md-4"><p id="three">RUBY ON RAILS</p></div>
    </div>
    <br>
    <br>
    <BR>
    <div class="row neon">
      <div class="col-md-4"><p id="four">SWIFT</p></div>
      <div class="col-md-4"><p id="five">IOS DEVELOPMENT</p></div>
      <div class="col-md-4"><p id="six">XCODE</p></div>
    </div>
    <br>
    <br>
    <br>
    <div class="row neon">
      <div class="col-md-4"><p id="seven">JSON</p></div>
      <div class="col-md-4"><p id="eight">MVC</p></div>
      <div class="col-md-4"><p id="nine">GIT</p></div>
    </div>
  </div>
</div>

<div id="split" class="container">

  <hr style="opacity:0.4">

</div>

<div class="container">
  <div class="projects">
    <div class="row">
      <h1>Projects</h1>
      <br>
    </div>

    <div class="row">


        <a href="https://sightcast.herokuapp.com/">
        <div class="col-md-3">
          <div class="project-block" id="sightcast" style="background-color:#1DACFC;" >
            <p>SIGHTCAST</p>
          </div>
        </div>
      </a>
        <a href="https://codycondon.herokuapp.com/">
        <div class="col-md-3">
          <div class="project-block" id="portfolio1" style="background-color:#FC1BA9;" >
            <p>PORTFOLIO</p>
          </div>
        </div>
      </a>

        <a href="https://alpha-blog-cody-2.herokuapp.com/">
        <div class="col-md-3">
          <div class="project-block" id="blogger1" style="background-color:#ACFD32;" >
            <p>BLOGGER</p>
          </div>
        </div>
      </a>

      <a href="https://shielded-waters-78589.herokuapp.com/">
      <div class="col-md-3">
        <div class="project-block" id="blogger1" style="background-color:#A926FB;" >
          <p>PORTFOLIO2</p>
        </div>
      </div>
    </a>
    </div>


    <br>
    <div class="row">
      <a href="https://github.com/codycc">
      <div class="col-md-3">
        <div class="project-block" id="github" style="background-color:#FDA929;"  >
          <p>PORTFOLIO3</p>
        </div>
      </div>
    </a>

    <a href="https://github.com/codycc/myCocktail">
    <div class="col-md-3">
      <div class="project-block" id="mykitchen" style=""  >
        <img src="CHEF.png" alt="" style="width:260px;;height:260px;border-radius:30px;">
      </div>
    </div>
    </a>

    <a href="https://github.com/codycc/social_network_firebase">
    <div class="col-md-3">
      <div class="project-block" id="mykitchen" style=""  >
        <img src="defaulticon.png" alt="" style="width:260px;;height:260px;border-radius:30px;">
      </div>
    </div>
    </a>

      <a href="https://github.com/codycc">
      <div class="col-md-3">
        <div class="project-block" id="github" style="background-color:#00001C;"  >
          <p>GITHUB</p>
        </div>
      </div>
    </a>
    </div>


    </div>


  </div>
</div>

<div class="triangle5"></div>
<div class="triangle6"></div>

<div class="foot">
  <div class="container">
        <div class="col-xs-4"><a href="https://github.com/codycc/new_website">Repo for this site</a></div>
    <div class="col-xs-4"><h3>codycondon50@gmail.com</h3></div>


    <div class="col-xs-4"><h1>codycondon 2016©</h1></div>
  </div>
</div>

</body>
</html>
