/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

h1,h2,h3,h4,h5,h6,p,a {
  font-family: avenir;
  padding: 0px;
  margin: 0px;
}
html,body
{
    width: 100%;

    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {

    background:linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
        ),image-url("tokyowall2.jpg")no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;

}
.main-jumbo {
  height: 100vh;
  padding-top: 20%;


    .wrapper {
      text-align: center;
      vertical-align: middle;
      margin: 0 auto;


      display:none;
      color:grey;

      #l1, #l2,#l3,#l4,#l5,#l6,#l7,#l8,#l9,#l10 {
        display:none;
      }

      h1 {

        letter-spacing: 8px;
        font-size: 8rem;
        font-weight:lighter;
      }
    }

    h5 {
      font-size: 20px;
      font-weight:lighter;

    }
}

.triangle {
  background-color:#1DACFC;

  height: 10px;
    transform: skew(-10deg) rotate(-2deg);
    -webkit-transform: skew(-10deg) rotate(10deg);
    -moz-transform: skew(-10deg) rotate(2deg);
}


.triangle2 {
  background-color:#A926FB;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #A926FB, 0 0 30px #A926FB, 0 0 40px #A926FB, 0 0 55px #A926FB, 0 0 75px #A926FB;
  height: 10px;
    transform: skew(-10deg) rotate(-2deg);
    -webkit-transform: skew(-10deg) rotate(170deg);
    -moz-transform: skew(-10deg) rotate(2deg);
}

.triangle3 {
  background-color:#FC1BA9;

  height: 10px;
    transform: skew(-10deg) rotate(-2deg);
    -webkit-transform: skew(-10deg) rotate(-00deg);
    -moz-transform: skew(-10deg) rotate(2deg);
}

.triangle4 {
  background-color:#ACFD32;

  height: 10px;
    transform: skew(-10deg) rotate(-2deg);
    -webkit-transform: skew(-10deg) rotate(-20deg);
    -moz-transform: skew(-10deg) rotate(2deg);
}

.triangle5 {
  background-color: #FDA929;

  height: 10px;
    transform: skew(-10deg) rotate(-2deg);
    -webkit-transform: skew(-10deg) rotate(10deg);
    -moz-transform: skew(-10deg) rotate(2deg);
}


.triangle6 {
  background-color:#1DACFC;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #1DACFC, 0 0 30px #1DACFC, 0 0 40px #1DACFC, 0 0 55px #1DACFC, 0 0 75px #1DACFC;
  height: 10px;
    transform: skew(-10deg) rotate(-2deg);
    -webkit-transform: skew(-10deg) rotate(170deg);
    -moz-transform: skew(-10deg) rotate(2deg);
}





#photoofme {
  height:250px;
  width:250px;
  border-radius: 10px;
  border: 5px solid #FDA929;
  display: block;
 margin: 0 auto;

}

.supporting {
  background-color:rgba(0, 0, 0, 0.91);
  padding-left:1;
  padding-top:50px;
  padding-bottom:50px;
  margin-top:100px;
  margin-bottom:100px;
  .aboutmewrapper {

    p {
      font-size: 19px;;
      color:rgba(145, 145, 145, 1);
      line-height: 30px;
      display:none;
    }
    h1 {
        color:rgba(255, 255, 255, 0.30);
        display:none;
    }

  }
}

.experience {

  margin-top: 200px;
.education {
  display:none;
}
.work {
  display:none;
}

  .charcoal {
    background-color:rgba(0, 0, 0, 0.90);
    border:none;
  }
  h3, h5, h6, p {
    color:rgba(145, 145, 145, 1);
  }
  h3 {
    font-size:26px;
  }
  h5 {
    font-size:24px;
  }
  h6{
    font-size:21px;
  }
  p {
    font-size:16px;
  }
}


.workingskills {
  // background-color:rgba(0, 0, 0, 0.81);
  background:linear-gradient(
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.8)
      ),image-url("brickwall-min.jpg")no-repeat center center;

  margin-top:70px;
    margin-bottom:100px;
  padding:20px;
  padding-bottom:50px;


  h1 {
    text-align: center;
    color:rgba(255, 255, 255, 0.05);
    font-weight:lighter;
    letter-spacing: 2px;

  }


    .neon p {
      text-align:center;
      color: #fff;
      font-size:50px;

    }
    .neon   {
       #one {
         display:none;
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
      }
      #two {
        display:none;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #1DACFC, 0 0 30px #1DACFC, 0 0 40px #1DACFC, 0 0 55px #1DACFC, 0 0 75px #1DACFC;
      }
      #three {
        display:none;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ACFD32, 0 0 30px #ACFD32, 0 0 40px #ACFD32, 0 0 55px #ACFD32, 0 0 75px #ACFD32;
      }
      #four {
        display:none;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #A926FB, 0 0 30px #A926FB, 0 0 40px #A926FB, 0 0 55px #A926FB, 0 0 75px #A926FB;
      }
      #five {
        display:none;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #FDA929, 0 0 30px #FDA929, 0 0 40px #FDA929, 0 0 55px #FDA929, 0 0 75px #FDA929;
      }
      #six {
        display:none;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
      }
      #seven {
        display:none;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #1DACFC, 0 0 30px #1DACFC, 0 0 40px #1DACFC, 0 0 55px #1DACFC, 0 0 75px #1DACFC;
      }
      #eight {
        display:none;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ACFD32, 0 0 30px #ACFD32, 0 0 40px #ACFD32, 0 0 55px #ACFD32, 0 0 75px #ACFD32;
      }
      #nine {
        display:none;
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #FDA929, 0 0 30px #FDA929, 0 0 40px #FDA929, 0 0 55px #FDA929, 0 0 75px #FDA929;
      }
    }
}

#split {
  h1 {
    color:white;
    font-size:200px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    font-weight:lighter;
    text-align: center;

  }
}

.projects {
  background-color:rgba(0, 0, 0, 0.71);
  margin-top:100px;
    margin-bottom:100px;
  padding:10px;
  padding-bottom:30px;
  h1{

      text-align: center;
      color:rgba(255, 255, 255, 0.05);
      font-weight:lighter;
      letter-spacing: 2px;


  }
  img {
    height:210px;
    width:210px;

  }
  .project-block {
    height:260px;
    width:260px;
    display:block;
    margin: 0 auto;
    text-align:center;
    opacity:0.3;
    text-decoration:none;
    p{
      color:white;
      font-weight:bold;
      font-size:40px;
    }
    &:hover {
        opacity:1.0;
      p {
      }
    }

  }

  #sightcast {
    padding-top:115px;

  }
  #portfolio1 {


  }

  #blogger1 {
    padding-top:115px;

  }

  #mykitchen {
    background-image: url("CHEF.png")no-repeat center center fixed;

    background-size:cover;
  }

  #github {

  }
}

.foot {
  padding:20px;
  background-color: black;
  width:100%;
  margin-top: 150px;
  text-align: center;
  h3  {

  }
  a {

      text-decoration:none;
  }

  h1 {
    font-size:17px;

  }

}

@media screen and (max-width: 800px) {
  body {
    text-align: center;


    background-attachment:fixed;
  }
  .aboutmewrapper h1 {
    margin-top:20px;
  }
  .projects {
    margin-bottom: 0px;
    margin-top:0px;
  }
  .projects .project-block  {
    opacity:0.9;
  }
  .workingskills {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .foot {
    margin-top: 10px;
  }
  .main-jumbo .wrapper h1 {

      font-size:40px;
  }
  .foot a, h3, h5 {
    font-size:15px;
  }

  #five {
    font-size:25px;
  }
}

@media screen and (max-width: 500px) {
  .supporting {

    margin-top: 25px;
  }

  .experience {
    margin-top: 50px;
  }

}
